webroot/protocols/global.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:complexType name="client-info">
	<xs:all>
		<xs:element name="customer-ref" type="xs:string" minOccurs="0" maxOccurs="1" />
		<xs:element name="mobile" type="mobile" minOccurs="0" maxOccurs="1" />
		<xs:element name="email" type="email" minOccurs="0" maxOccurs="1" />
		<xs:element name="device-id" type="device-id" minOccurs="0" maxOccurs="1" />
		<xs:element name="ip" type="ip" minOccurs="0" maxOccurs="1" />
	</xs:all>
	<xs:attribute name="app-id" type="xs:positiveInteger" use="optional" />
	<xs:attribute name="platform" type="platform" use="required" />
	<xs:attribute name="version" type="version" use="required" />
	<xs:attribute name="language" type="language-code" use="required" />
	<xs:attribute name="pushid" type="xs:string" use="optional"/>
	<xs:attribute name="sdk-version" type="version" use="optional"/>
	<xs:attribute name="app-version" type="version" use="optional"/>
	<xs:attribute name="profileid" type="xs:string" use="optional"/>
	<xs:attribute name="locale" type="xs:string" use="optional"/>
</xs:complexType>

<xs:complexType name="get-updated-core-data">
	<xs:group ref="get-updated-core-data" />
</xs:complexType>

<xs:group name="get-updated-core-data">
	<xs:sequence>
		<xs:element name="last-updated" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
		<xs:element name="client-info" minOccurs="1" maxOccurs="1">
			<xs:complexType>
				<xs:all>
					<xs:element name="mobile" type="mobile" minOccurs="0" maxOccurs="1" />
					<xs:element name="email" type="email" minOccurs="0" maxOccurs="1" />
					<xs:element name="device-id" type="device-id" minOccurs="0" maxOccurs="1" />
					<xs:element name="ip" type="ip" minOccurs="0" maxOccurs="1" />
				</xs:all>
				<xs:attribute name="platform" type="platform" use="optional" />
				<xs:attribute name="version" type="version" use="optional" />
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:group>

<xs:simpleType name="email"> 
	<xs:restriction base="xs:string"> 
		<xs:pattern value="(\w+([-+._']\w+)*){1,64}@([a-zA-Z0-9]+([-.]\w+)*\.\w+([-.]\w+)*[a-zA-Z0-9]){1,255}" />
	</xs:restriction> 
</xs:simpleType> 

<xs:complexType name="phone">
	<xs:simpleContent>
		<xs:extension base="xs:token">
			<xs:attribute name="country-id" type="xs:string" use="required" />
			<xs:attribute name="operator-id" type="operatorid" use="optional" />
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

<xs:complexType name="mobile">
	<xs:simpleContent>
		<xs:restriction base="phone">
			<xs:minLength value="6" />
			<xs:maxLength value="15" />
			<xs:pattern value="([0-9])*"/>
		</xs:restriction>
	</xs:simpleContent>
</xs:complexType>

<xs:simpleType name="operatorid">
	<xs:restriction base="xs:positiveInteger">
		<xs:minInclusive value="10000" />
		<xs:maxInclusive value="99999" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="countryid">
	<xs:restriction base="xs:int">
		<xs:minInclusive value="100" />
		<xs:maxInclusive value="999" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="device-id">
	<xs:restriction base="xs:string">
		<xs:maxLength value="40" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="platform"> 
	<xs:restriction base="xs:string"> 
		<xs:pattern value="(iOS|Android|WP7|WinMo|HTML5|Web|Other)/?.*" /> 
	</xs:restriction> 
</xs:simpleType>

<xs:simpleType name="version">
	<xs:restriction base="xs:string"> 
		<xs:pattern value="[0-9\.]+-?[0-9]{0,3}" />
		<xs:pattern value="[0-9]+\.[0-9]" />
	</xs:restriction>  
</xs:simpleType>

<xs:simpleType name="url"> 
	<xs:restriction base="xs:string"> 
		<xs:pattern value="http.?://.+" /> 
	</xs:restriction> 
</xs:simpleType> 

<xs:simpleType name="language-code"> 
	<xs:restriction base="xs:string">
		<xs:enumeration value="ab" />
		<xs:enumeration value="aa" />
		<xs:enumeration value="af" />
		<xs:enumeration value="ak" />
		<xs:enumeration value="sq" />
		<xs:enumeration value="am" />
		<xs:enumeration value="ar" />
		<xs:enumeration value="an" />
		<xs:enumeration value="hy" />
		<xs:enumeration value="as" />
		<xs:enumeration value="av" />
		<xs:enumeration value="ae" />
		<xs:enumeration value="ay" />
		<xs:enumeration value="az" />
		<xs:enumeration value="bm" />
		<xs:enumeration value="ba" />
		<xs:enumeration value="eu" />
		<xs:enumeration value="be" />
		<xs:enumeration value="bn" />
		<xs:enumeration value="bh" />
		<xs:enumeration value="bi" />
		<xs:enumeration value="bs" />
		<xs:enumeration value="br" />
		<xs:enumeration value="bg" />
		<xs:enumeration value="my" />
		<xs:enumeration value="ca" />
		<xs:enumeration value="ch" />
		<xs:enumeration value="ce" />
		<xs:enumeration value="ny" />
		<xs:enumeration value="zh" />
		<xs:enumeration value="cv" />
		<xs:enumeration value="kw" />
		<xs:enumeration value="co" />
		<xs:enumeration value="cr" />
		<xs:enumeration value="hr" />
		<xs:enumeration value="cs" />
		<xs:enumeration value="da" />
		<xs:enumeration value="dv" />
		<xs:enumeration value="nl" />
		<xs:enumeration value="dz" />
		<xs:enumeration value="en" />
		<xs:enumeration value="eo" />
		<xs:enumeration value="et" />
		<xs:enumeration value="ee" />
		<xs:enumeration value="fo" />
		<xs:enumeration value="fj" />
		<xs:enumeration value="fi" />
		<xs:enumeration value="fr" />
		<xs:enumeration value="ff" />
		<xs:enumeration value="gl" />
		<xs:enumeration value="ka" />
		<xs:enumeration value="de" />
		<xs:enumeration value="el" />
		<xs:enumeration value="gn" />
		<xs:enumeration value="gu" />
		<xs:enumeration value="ht" />
		<xs:enumeration value="ha" />
		<xs:enumeration value="he" />
		<xs:enumeration value="hz" />
		<xs:enumeration value="hi" />
		<xs:enumeration value="ho" />
		<xs:enumeration value="hu" />
		<xs:enumeration value="ia" />
		<xs:enumeration value="id" />
		<xs:enumeration value="ie" />
		<xs:enumeration value="ga" />
		<xs:enumeration value="ig" />
		<xs:enumeration value="ik" />
		<xs:enumeration value="io" />
		<xs:enumeration value="is" />
		<xs:enumeration value="it" />
		<xs:enumeration value="iu" />
		<xs:enumeration value="ja" />
		<xs:enumeration value="jv" />
		<xs:enumeration value="kl" />
		<xs:enumeration value="kn" />
		<xs:enumeration value="kr" />
		<xs:enumeration value="ks" />
		<xs:enumeration value="kk" />
		<xs:enumeration value="km" />
		<xs:enumeration value="ki" />
		<xs:enumeration value="rw" />
		<xs:enumeration value="ky" />
		<xs:enumeration value="kv" />
		<xs:enumeration value="kg" />
		<xs:enumeration value="ko" />
		<xs:enumeration value="ku" />
		<xs:enumeration value="kj" />
		<xs:enumeration value="la" />
		<xs:enumeration value="lb" />
		<xs:enumeration value="lg" />
		<xs:enumeration value="li" />
		<xs:enumeration value="ln" />
		<xs:enumeration value="lo" />
		<xs:enumeration value="lt" />
		<xs:enumeration value="lu" />
		<xs:enumeration value="lv" />
		<xs:enumeration value="gv" />
		<xs:enumeration value="mk" />
		<xs:enumeration value="mg" />
		<xs:enumeration value="ms" />
		<xs:enumeration value="ml" />
		<xs:enumeration value="mt" />
		<xs:enumeration value="mi" />
		<xs:enumeration value="mr" />
		<xs:enumeration value="mh" />
		<xs:enumeration value="mn" />
		<xs:enumeration value="na" />
		<xs:enumeration value="nv" />
		<xs:enumeration value="nd" />
		<xs:enumeration value="ne" />
		<xs:enumeration value="ng" />
		<xs:enumeration value="nb" />
		<xs:enumeration value="nn" />
		<xs:enumeration value="no" />
		<xs:enumeration value="ii" />
		<xs:enumeration value="nr" />
		<xs:enumeration value="oc" />
		<xs:enumeration value="oj" />
		<xs:enumeration value="cu" />
		<xs:enumeration value="om" />
		<xs:enumeration value="or" />
		<xs:enumeration value="os" />
		<xs:enumeration value="pa" />
		<xs:enumeration value="pi" />
		<xs:enumeration value="fa" />
		<xs:enumeration value="pl" />
		<xs:enumeration value="ps" />
		<xs:enumeration value="pt" />
		<xs:enumeration value="qu" />
		<xs:enumeration value="rm" />
		<xs:enumeration value="rn" />
		<xs:enumeration value="ro" />
		<xs:enumeration value="ru" />
		<xs:enumeration value="sa" />
		<xs:enumeration value="sc" />
		<xs:enumeration value="sd" />
		<xs:enumeration value="se" />
		<xs:enumeration value="sm" />
		<xs:enumeration value="sg" />
		<xs:enumeration value="sr" />
		<xs:enumeration value="gd" />
		<xs:enumeration value="sn" />
		<xs:enumeration value="si" />
		<xs:enumeration value="sk" />
		<xs:enumeration value="sl" />
		<xs:enumeration value="so" />
		<xs:enumeration value="st" />
		<xs:enumeration value="es" />
		<xs:enumeration value="su" />
		<xs:enumeration value="sw" />
		<xs:enumeration value="ss" />
		<xs:enumeration value="sv" />
		<xs:enumeration value="ta" />
		<xs:enumeration value="te" />
		<xs:enumeration value="tg" />
		<xs:enumeration value="th" />
		<xs:enumeration value="ti" />
		<xs:enumeration value="bo" />
		<xs:enumeration value="tk" />
		<xs:enumeration value="tl" />
		<xs:enumeration value="tn" />
		<xs:enumeration value="to" />
		<xs:enumeration value="tr" />
		<xs:enumeration value="ts" />
		<xs:enumeration value="tt" />
		<xs:enumeration value="tw" />
		<xs:enumeration value="ty" />
		<xs:enumeration value="ug" />
		<xs:enumeration value="uk" />
		<xs:enumeration value="ur" />
		<xs:enumeration value="uz" />
		<xs:enumeration value="ve" />
		<xs:enumeration value="vi" />
		<xs:enumeration value="vo" />
		<xs:enumeration value="wa" />
		<xs:enumeration value="cy" />
		<xs:enumeration value="wo" />
		<xs:enumeration value="fy" />
		<xs:enumeration value="xh" />
		<xs:enumeration value="yi" />
		<xs:enumeration value="yo" />
		<xs:enumeration value="za" />
		<xs:enumeration value="zu" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ip">
	<xs:restriction base="xs:string">
	<xs:pattern value="((1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]).){3}(1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="charge-type">
	<xs:restriction base="xs:positiveInteger">
		<xs:minInclusive value="1" />
		<xs:maxInclusive value="5" />
	 </xs:restriction>
</xs:simpleType >
</xs:schema>
