webroot/protocols/mconsole-entities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="global.xsd" />

	<xs:complexType name="transaction-info">
		<xs:annotation>
			<xs:documentation>
				Contains detailed information about an mPoint transaction.
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="client" type="basic" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The mPoint Client (Merchant) on whose behalf the payment transaction was processed 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sub-account" type="basic" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The mPoint Sub-Account through which the payment transaction was processed 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="customer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Information about the customer who executed the payment transaction 
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="customer">
							<xs:sequence>
								<xs:element name="full-name" type="xs:string" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>
											The customer's full name as retrieved from the customer's profile 
										</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="id" type="xs:positiveInteger" use="optional">
								<xs:annotation>
									<xs:documentation>
										mPoint's unique ID for the customer's profile  
									</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The date and time when the payment transaction was created 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="payment-service-provider" type="basic" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The Payment Service Provider to whom mPoint routed the payment transaction for authorization 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="payment-method" type="basic" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The Payment Method (Card) which the customer elected to pay with 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount" type="amount-info" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The total amount the customer paid for the Transaction without fee 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="captured-amount" type="amount-info" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The full amount that has been captured for the Transaction 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="points" type="amount-info" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The total number of points the customer paid  for the Transaction 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reward" type="amount-info" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The total number of points the customer was rewarded for completing the Transaction 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="refund" type="amount-info" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The amount the customer has been refunded for the Transaction 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fee" type="amount-info" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The amount the customer paid in fees for the Transaction 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ip" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The IP address where the transaction originated from 
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The Description of a Order for a Customer 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messages" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						A list of messages that describes which states the payment transaction has gone through 
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="message" type="message-info" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									The message for a specific state the payment transaction has gone through 
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the payment transaction
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="order-no" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The Order Number provided by Client's (Merchant) System when the payment transaction was initialized 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="external-id" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The Payment Service Provider's unique ID for the payment transaction
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type-id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the transaction type 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="state-id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the payment transaction's current state 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mode" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the payment transaction's current state 
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:nonNegativeInteger">
					<xs:enumeration value="0">
						<xs:annotation>
							<xs:documentation>
								The transaction was processed in "PRODUCTION" mode and was routed to the Payment Service Provider's Live environment resulting in charges being incurred by the customer. 
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="1">
						<xs:annotation>
							<xs:documentation>
								The transaction was processed in "Test" mode and was routed to the Payment Service Provider's Test environment resulting in no charges being incurred by the customer. 
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2">
						<xs:annotation>
							<xs:documentation>
								The transaction was processed in "Certification" mode and was routed to the Payment Service Provider's Test environment resulting in no charges being incurred by the customer.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="basic">
		<xs:annotation>
			<xs:documentation>
				Contains basic information about standard mPoint entities such as:
				- Client
				- Sub-Account
				- Payment Service Provider
				This information is included as part of the details for an mPoint transaction. 
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:positiveInteger" use="required">
					<xs:annotation>
						<xs:documentation>
							The unique ID of the returned record 
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="amount-info">
		<xs:annotation>
			<xs:documentation>
				Contains information about an amount related to an mPoint Transaction 
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:nonNegativeInteger">
				<xs:attribute name="country-id" type="xs:positiveInteger" use="required">
					<xs:annotation>
						<xs:documentation>
							The unique ID of the country the amount is associated with 
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="currency" use="required">
					<xs:annotation>
						<xs:documentation>
							The currency (DDK, USD, EUR etc.) that the amount is in based on the country 
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="3" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="symbol" use="optional">
					<xs:annotation>
						<xs:documentation>
							The symbol that is used to represent the currency (kr. $, € etc.) 
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0" />
							<xs:maxLength value="3" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="format" use="optional">
					<xs:annotation>
						<xs:documentation>
							The price format that is used when displaying prices in the country 
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="{CURRENCY}{PRICE}" />
							<xs:enumeration value="{PRICE} {CURRENCY}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="customer">
		<xs:annotation>
			<xs:documentation>
				Contains information about a customer, which may be included in any of the following scenarios:
				- When doing a Transaction Search
				- As part of the Transaction Details in a search result set
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mobile" type="mobile" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The customer's mobile number, which may be obtained from one of the following record types:
						- The customer's profile
						- A transaction record
						Alternatively the mobile number may be specified as a search criteria when performing one of the following operations:
						- Transaction Search
						- Audit Log Search
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The customer's email address, which may be obtained from one of the following record types:
						- The customer's profile
						- A transaction record
						Alternatively the email address may be specified as a search criteria when performing one of the following operations:
						- Transaction Search
						- Audit Log Search
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="customer-ref" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The client's (merchant's) reference for the customer. This would normally be the customer's number in the client's CRM system.  
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="message-info">
		<xs:annotation>
			<xs:documentation>
				Specifies the criteria for executing a transaction search  
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
			<xs:element name="data" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the message 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="state-id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the transaction state that the message was recorded for  
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="card-prefix-config">
		<xs:annotation>
			<xs:documentation>
				Configuration for a prefix range which may be used to automatically detect the Payment Method (Card)  
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="min" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The minimum value for the prefix range
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						<xs:minInclusive value="1000" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="max" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The maximum value for the prefix range
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						<xs:minInclusive value="1000" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the prefix configuration
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Search -->
	<xs:complexType name="transaction-search-request">
		<xs:annotation>
			<xs:documentation>
				Specifies the criteria for executing a transaction search  
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="clients" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:integer" name="client-id" minOccurs="1" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="transaction" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Specifies the criteria for searching for one or more specific transactions
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:all>
						<xs:element name="customer" type="customer" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Specifies the criteria for searching for a customer's transactions
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:all>
					<xs:attribute name="id" type="xs:positiveInteger" use="optional">
						<xs:annotation>
							<xs:documentation>
								mPoint's unique ID for the transaction that should be found
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="order-no" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								The Client's (Merchant's) Order Number for the transaction that should be found
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="start-date" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Specifies the start date / time for the transaction that should be found 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="end-date" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Specifies the end date / time for the transaction that should be found 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attribute name="verbose" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>
					Flag indicating whether all data for each transaction should be returned as part of the transaction details
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="limit" type="xs:positiveInteger" use="optional" default="100">
			<xs:annotation>
				<xs:documentation>
					Number of results that are returned by the transaction search
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="offset" type="xs:nonNegativeInteger" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>
					The offset from which the results returned by the transaction search should start.
					Any results before the offset are skipped by the transaction search
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="transaction-search-response">
		<xs:annotation>
			<xs:documentation>
				Contains the result for the executed transaction search
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="transactions" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Contains the list of transactions found for the executed transaction search
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="transaction" type="transaction-info" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										Contains detailed information about all mPoint transactions that was found for the executed transaction search
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="sorted-by" default="timestamp">
							<xs:annotation>
								<xs:documentation>
									The property that the results for the executed transaction search has been ordered by 
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="timestamp" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="sort-order" default="descending">
							<xs:annotation>
								<xs:documentation>
									The order in which the results for the executed transaction search has been sorted by
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ascending" />
									<xs:enumeration value="descending" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="status" type="status" minOccurs="1" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							Describes any errors that ocurred during the transaction search, normally this is due to errors in the input in the search criteria
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- Payment Method Configurations -->
	<xs:complexType name="payment-method-configuration-search-request">
		<xs:annotation>
			<xs:documentation>
				Specifies the criteria for executing a configuration search  
			</xs:documentation>
		</xs:annotation>
		<xs:all>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="payment-method-configuration-search-response">
		<xs:sequence>
			<xs:choice>
				<xs:element name="payment-method-configurations" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Contains the list of payment method (card) configurations found for the executed configuration search
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="payment-method-config" type="payment-method-config" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										The configuration details for a specific Payment Method (Card)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="status" type="status" minOccurs="1" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							Describes any errors that ocurred during the payment method search, normally this is due to errors in the input in the search criteria
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="payment-method-config">
		<xs:all>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The name of the Payment Method (Card)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="min-length" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The minimum length of a valid number for the Payment Method (Card)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="-1" />
						<xs:enumeration value="13" />
						<xs:enumeration value="14" />
						<xs:enumeration value="15" />
						<xs:enumeration value="16" />
						<xs:enumeration value="17" />
						<xs:enumeration value="18" />
						<xs:enumeration value="19" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="max-length" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The maximum length of a valid number for the Payment Method (Card)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="-1" />
						<xs:enumeration value="13" />
						<xs:enumeration value="14" />
						<xs:enumeration value="15" />
						<xs:enumeration value="16" />
						<xs:enumeration value="17" />
						<xs:enumeration value="18" />
						<xs:enumeration value="19" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cvc-length" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The length of a CVC number for the Payment Method (Card)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="-1" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="prefixes" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contains a list of card number prefixes which may be used to automatically detect the Payment Method (Card)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="prefix" type="card-prefix-config" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Configuration for a prefix range which may be used to automatically detect the Payment Method (Card) 
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="payment-service-providers" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contains a list of Payment Service Providers, which supports the Payment Method (Card)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="payment-service-provider" type="basic" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Basic Information about a Payment Service Provider which supports the Payment Method (Card)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="countries" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contains a list of Countries in which the Payment Method (Card) is supported
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="country" type="basic" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Basic Information about a Country in which the Payment Method (Card) is supported
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the Payment Method (Card)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="position" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>
					The position at which the Payment Method (Card) should be placed
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Payment Method Configurations -->
	<xs:complexType name="payment-service-provider-configuration-search-request">
		<xs:annotation>
			<xs:documentation>
				Specifies the criteria for executing a configuration search  
			</xs:documentation>
		</xs:annotation>
		<xs:all>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="payment-service-provider-configuration-search-response">
		<xs:sequence>
			<xs:choice>
				<xs:element name="payment-service-provider-configurations" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Contains the list of Payment Service Provider configurations found for the executed configuration search
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="payment-service-provider-config" type="payment-service-provider-config" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										The configuration details for a specific Payment Service Provider
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="status" type="status" minOccurs="1" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							Describes any errors that ocurred during the payment service provider search, normally this is due to errors in the input in the search criteria
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="payment-service-provider-config">
		<xs:all>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The name of the Payment Service Provider
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currencies" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contains a list of currency configurations, which are supported by the Payment Service Provider
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="currency" type="currency-config" minOccurs="1" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="payment-methods" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contains a list of payment methods (cards), which are supported by the Payment Service Provider
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="payment-method" type="basic" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Basic Information about a Payment Method (Card) which is supported by the Payment Service Provider
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the Payment Service Provider
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="currency-config">
		<xs:annotation>
			<xs:documentation>
				Configuration for the currency supported by the Payment Service Provider used in a country
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:positiveInteger" use="required">
					<xs:annotation>
						<xs:documentation>
							mPoint's unique ID for the currency configuration
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="country-id" type="xs:positiveInteger" use="required">
					<xs:annotation>
						<xs:documentation>
							mPoint's unique ID for the country that the Payment Service Provider uses the currency in
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- Get Client Configurations -->
	<xs:complexType name="client-configuration-search-request">
		<xs:annotation>
			<xs:documentation>
				Specifies the criteria for executing a configuration search  
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="clients" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contains the list of unique IDs for the client configurations that should be fetched
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:integer" name="client-id" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									The unique ID for the client whose configuration should be fetched
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="client-configuration-search-response">
		<xs:choice>
			<xs:element name="client-configurations" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contains the list of Client configurations found for the executed configuration search
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="client-config" type="client-config" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									The configuration details for a specific Client
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="status" type="status" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Describes any errors that ocurred during the client configuration search, normally this is due to errors in the input in the search criteria
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<!-- Save Client Configurations -->
	<xs:complexType name="save-client-configuration-request">
		<xs:sequence>
			<xs:element name="client-config" type="client-config" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="save-client-configuration-response">
		<xs:sequence>
			<xs:element name="status" type="status" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="status">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="code" type="xs:positiveInteger" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- Client Configuration Entities Start -->
	<xs:complexType name="client-config">
		<xs:annotation>
			<xs:documentation>Top-Level Configuration for an mPoint Client</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="name" type="name" minOccurs="1" maxOccurs="1" />
			<xs:element name="username" type="name" minOccurs="1" maxOccurs="1" />
			<xs:element name="password" type="name" minOccurs="1" maxOccurs="1" />
			<xs:element name="keyword" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="name">
							<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="max-amount" type="amount" minOccurs="1" maxOccurs="1" />
			<xs:element name="urls" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="url" type="url-config" minOccurs="1" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="payment-methods" type="client-payment-method-configurations" minOccurs="1" maxOccurs="1" />
			<xs:element name="payment-service-providers" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="payment-service-provider" type="client-psp-config" minOccurs="1" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="account-configurations" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="account-config" type="account-config" minOccurs="1" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="issuer-identification-number-ranges" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="issuer-identification-number-range" type="issuer-identification-number-range-config" minOccurs="1" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="callback-protocol" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="callback-protocol">
							<xs:attribute type="xs:boolean" name="send-psp-id" use="required" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="identification" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="transaction-time-to-live" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1" />
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="country-id" type="countryid" use="required" />
		<xs:attribute name="language" type="language-code" use="required" />
		<xs:attribute name="sms-receipt" type="xs:boolean" use="required" />
		<xs:attribute name="email-receipt" type="xs:boolean" use="required" />
		<xs:attribute name="mode" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:nonNegativeInteger">
					<xs:enumeration value="0">
						<xs:annotation>
							<xs:documentation>Production: The client account is in Production mode and transactions will be routed to the Payment Service Provider’s Live environment resulting in charges being incurred for all payments made.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="1">
						<xs:annotation>
							<xs:documentation>Test: The client account is in "Test" mode and transactions will be routed to the Payment Service Provider's Test environment resulting in no charges being incurred for payments. Additionally card details may be automatically entered pre-populated for some PSPs.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2">
						<xs:annotation>
							<xs:documentation>Certification: The client account is in ""Test"" mode and transactions will be routed to the Payment Service Provider's Test environment resulting in no charges being incurred for payments, however card details are not pre-populated</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="auto-capture" type="xs:boolean" use="required" />
	</xs:complexType>
	<xs:complexType name="client-psp-config">
		<xs:annotation>
			<xs:documentation>Configuration of a Payment Service Provider for an mPoint Client</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="name" type="name" minOccurs="1" maxOccurs="1" />
			<xs:element name="username" type="name" minOccurs="0" maxOccurs="1" />
			<xs:element name="password" type="name" minOccurs="0" maxOccurs="1" />
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="psp-id" type="xs:positiveInteger" use="required" />
		<xs:attribute name="stored-card" type="xs:boolean" use="required" />
	</xs:complexType>
	<xs:complexType name="account-config">
		<xs:annotation>
			<xs:documentation>Configuration for an mPoint Client's Sub-Account</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="name" type="name" />
			<xs:element name="markup">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="app" />
						<xs:enumeration value="xhtml" />
						<xs:enumeration value="html5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="payment-service-providers" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="payment-service-provider" type="account-psp-config" minOccurs="1" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
	</xs:complexType>
	<xs:complexType name="account-psp-config">
		<xs:annotation>
			<xs:documentation>Configuration of a Payment Service Provider for a Sub-Account</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="name" type="name" minOccurs="1" maxOccurs="1" />
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="psp-id" type="xs:positiveInteger" use="required" />
	</xs:complexType>
	<xs:complexType name="issuer-identification-number-range-config">
		<xs:sequence>
			<xs:element type="xs:positiveInteger" name="min" />
			<xs:element type="xs:positiveInteger" name="max" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="action-id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:enumeration value="1">
						<xs:annotation>
							<xs:documentation>Blocked</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2">
						<xs:annotation>
							<xs:documentation>Whitelisted</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="url-config">
		<xs:annotation>
			<xs:documentation>Configuration for a URL for an mPoint Client</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
				<xs:attribute name="type-id" type="xs:positiveInteger" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="client-payment-method-configurations">
		<xs:annotation>
			<xs:documentation>Contains a list of Payment Method (card) Configurations for an mPoint Client as well as general configuration of how Stored Cards are handled for the mPoint Client</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="payment-method" type="client-payment-method-config" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute type="xs:nonNegativeInteger" name="store-card" use="required" />
		<xs:attribute type="xs:boolean" name="show-all-cards" use="required" />
		<xs:attribute name="max-stored-cards" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="-1" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="client-payment-method-config">
		<xs:annotation>
			<xs:documentation>Configuration for a Payment Method (card) for an mPoint Client</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
				<xs:attribute name="country-id" use="required">
					<xs:annotation>
						<xs:documentation>Specifies the Country that the configuration is applicable for or -1 for ALL countries, for which a specific configuration hasn't been defined.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:int"> 
							<xs:pattern value="-1|[1-9][0-9]{2}"></xs:pattern>
				    	</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="state-id" type="xs:positiveInteger" use="required" />
				<xs:attribute name="type-id" type="xs:positiveInteger" use="required" />
				<xs:attribute name="psp-id" type="xs:positiveInteger" use="required" />
				<xs:attribute name="enabled" type="xs:boolean" use="optional" default="true" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="callback-protocol">
		<xs:restriction base="xs:string">
			<xs:enumeration value="mPoint" />
			<xs:enumeration value="PSP" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Used to auto-generate Enumerations in mConsole -->
	<xs:simpleType name="mode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Production" />
			<xs:enumeration value="Test" />
			<xs:enumeration value="Certification" />
		</xs:restriction>
	</xs:simpleType>
	<!-- mConsole enumerations -->
	<xs:simpleType name="identification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Off" />
			<xs:enumeration value="Customer Reference" />
			<xs:enumeration value="Mobile" />
			<xs:enumeration value="Customer Reference or Mobile" />
			<xs:enumeration value="Email" />
			<xs:enumeration value="Customer Reference or Email" />
			<xs:enumeration value="Mobile or Email" />
			<xs:enumeration value="Customer Reference, Mobile or E-Mail " />
			<xs:enumeration value="Mobile Number and E-Mail" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="store-card">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Off" />
			<xs:enumeration value="Not used" />
			<xs:enumeration value="Only available for specific client" />
			<xs:enumeration value="Only use store cards but make them available for specific client" />
			<xs:enumeration value="Store cards available globally" />
			<xs:enumeration value="Only use store cards but make them available globally" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="payment-method-state">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Not used" />
			<xs:enumeration value="Enabled" />
			<xs:enumeration value="Disabled by merchant" />
			<xs:enumeration value="Disabled by PSP" />
			<xs:enumeration value="Pre-requisite not met" />
			<xs:enumeration value="Temporarily unavailable" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="markup">
		<xs:restriction base="xs:string">
			<xs:enumeration value="App" />
			<xs:enumeration value="HTML5" />
			<xs:enumeration value="XHTML" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Client Configuration Entities End -->
	<xs:complexType name="get-client-configurations">
         <xs:sequence>	
	         <xs:element name="clients" maxOccurs="1" minOccurs="1">
		         <xs:complexType>
			         <xs:sequence>
			           <xs:element type="xs:integer" name="client-id" maxOccurs="unbounded" minOccurs="1"/>
			         </xs:sequence>
		         </xs:complexType>
		     </xs:element>
         </xs:sequence>
         <xs:attribute type="xs:integer" name="user-id"/>
   </xs:complexType>

	<xs:simpleType name="name">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="amount">
		<xs:simpleContent>
			<xs:extension base="xs:nonNegativeInteger">
				<xs:attribute name="country-id" type="xs:positiveInteger" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="transaction-state-changes-request">
		<xs:annotation>
			<xs:documentation>Specifies the criteria for executing a voided (cancelled / refunded) or captured</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transactions" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						List of payment transactions for the client that should be voided (cancelled / refunded) or captured
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="transaction" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Specifies the details for the payment transaction that should be voided (cancelled / refunded) or captured
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:all>
									<xs:element name="amount" type="amount" minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												The amount that should be voided (cancelled / refunded) or captured
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:all>
								<xs:attribute name="id" type="xs:positiveInteger" use="required">
									<xs:annotation>
										<xs:documentation>
											mPoint's unique ID for the transaction that should be voided (cancelled / refunded) or captured
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="order-no" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The Client's (Merchant's) Order Number for the transaction that should be voided (cancelled / refunded) or captured
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="client-id" type="xs:positiveInteger" use="required" />
					<xs:attribute name="account" type="xs:positiveInteger" use="optional" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="transaction-state-changes-response">
		<xs:sequence>
			<xs:element name="transactions" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						List of payment transactions were attempted voided (cancelled / refunded) or captured
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="transaction" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Specifies the details for the payment transaction was attempted voided (cancelled / refunded) or captured
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="status" type="status" minOccurs="1" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>
												Details about the status for the transacton that was attempted voided (cancelled / refunded) or captured
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="id" type="xs:positiveInteger" use="required">
									<xs:annotation>
										<xs:documentation>
											mPoint's unique ID for the transaction that was attempted voided (cancelled / refunded) or captured
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="order-no" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The Client's (Merchant's) Order Number for the transaction that was attempted voided (cancelled / refunded) or captured
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="client-id" type="xs:positiveInteger" use="required" />
					<xs:attribute name="account" type="xs:positiveInteger" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
