webroot/protocols/mconsole.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:include schemaLocation="global.xsd" />

<xs:element name="root">
	<xs:complexType>
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<!-- Login -->
			<xs:element name="login">
				<xs:complexType>
					<xs:all>
						<xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1" />
						<xs:element name="password" type="xs:string" minOccurs="1" maxOccurs="1" />
					</xs:all>
				</xs:complexType>
			</xs:element>		
			<!-- roles -->
			<xs:element name="roles">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:integer" minOccurs="1" maxOccurs="1" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<!-- Search -->
			<xs:element name="search">
				<xs:complexType>
					<xs:all>
						<xs:element name="transaction-number" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="order-number" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="mobile" type="mobile" minOccurs="0" maxOccurs="1" />
						<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="customer-ref" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="start-date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
						<xs:element name="end-date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
					</xs:all>
					<xs:attribute name="user-id" type="xs:positiveInteger" use="required" />
					<xs:attribute name="debug" type="xs:boolean" use="required" />
					<xs:attribute name="client-id" type="xs:positiveInteger" use="optional" />
				</xs:complexType>
			</xs:element>
			<!-- save-cards -->
			<xs:element name="save-cards">
				<xs:complexType>
					<xs:all>
						<xs:element name="cards" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
									<xs:element name="card">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="id" type="xs:positiveInteger" use="required" />
												</xs:extension>
											</xs:simpleContent>
									</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="user-id" type="xs:positiveInteger" use="required" />
				</xs:complexType>
			</xs:element>
			<!-- get-cards -->
			<xs:element name="get-cards">
				<xs:complexType>
					<xs:all>
						<xs:element name="clients" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
									<xs:element name="client">
										<xs:complexType>
											<xs:attribute name="id" type="xs:positiveInteger" use="required" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="user-id" type="xs:positiveInteger" use="required" />
				</xs:complexType>
			</xs:element>
			<!-- Get Customer -->
			<xs:element name="getcustomer">
				<xs:complexType>
					<xs:all>
						<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
						<xs:element name="countryid" type="xs:integer" minOccurs="1" maxOccurs="1" />
					</xs:all>
				</xs:complexType>
			</xs:element>		
			<!-- Get Transaction Details -->
			<xs:element name="transactiondetails">
				<xs:complexType>
					<xs:all>
						<xs:element name="txnid" type="xs:string" minOccurs="1" maxOccurs="1" />
						<xs:element name="countryid" type="xs:integer" minOccurs="0" maxOccurs="1" />
					</xs:all>
				</xs:complexType>
			</xs:element>	
			<!-- Save Note  -->
			<xs:element name="savenote">
				<xs:complexType>
					<xs:all>
						<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
						<xs:element name="txnid" type="xs:string" minOccurs="1" maxOccurs="1" />
						<xs:element name="message" type="xs:string" minOccurs="1" maxOccurs="1" />
					</xs:all>
				</xs:complexType>
			</xs:element>	
				<!-- Refund  -->
			<xs:element name="refund">
				<xs:complexType>
					<xs:all>
						<xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1" />
						<xs:element name="password" type="xs:string" minOccurs="1" maxOccurs="1" />
						<xs:element name="clientid" type="xs:integer" minOccurs="1" maxOccurs="1" />
						<xs:element name="mpointid" type="xs:integer" minOccurs="1" maxOccurs="1" />
						<xs:element name="orderid" type="xs:string" minOccurs="1" maxOccurs="1" />
						<xs:element name="amount" type="xs:integer" minOccurs="1" maxOccurs="1" />
					</xs:all>
				</xs:complexType>
				</xs:element>
			<!-- Get Clients   -->
			<xs:element name="getclients">
				<xs:complexType>
					<xs:all>
						<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
					</xs:all>
				</xs:complexType>
				</xs:element>
				<xs:element name="getcountries">
				<xs:complexType>
					<xs:all>
						<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
					</xs:all>
				</xs:complexType>
				</xs:element>
				<xs:element name="getkeywords">
				<xs:complexType>
					<xs:all>
						<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
					</xs:all>
				</xs:complexType>
				</xs:element>
				<xs:element name="getmonths">
				<xs:complexType>
					<xs:all>
						<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
					</xs:all>
				</xs:complexType>
				</xs:element>
				<xs:element name="get-keyword-stats">
				<xs:complexType>
					<xs:all>
							<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
							<xs:element name="clientid" type="xs:integer" minOccurs="1" maxOccurs="1" />
							<xs:element name="countryid" type="xs:integer" minOccurs="1" maxOccurs="1" />
							<xs:element name="firstmonth" type="xs:date" minOccurs="1" maxOccurs="1" />
							<xs:element name="secondmonth" type="xs:date" minOccurs="1" maxOccurs="1" />
							<xs:element name="keywordid" type="xs:integer" minOccurs="1" maxOccurs="1" />
					</xs:all>
				</xs:complexType>
				</xs:element>
				<xs:element name="get-keyword-export">
				<xs:complexType>
					<xs:all>
							<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
							<xs:element name="clientid" type="xs:integer" minOccurs="1" maxOccurs="1" />
							<xs:element name="countryid" type="xs:integer" minOccurs="1" maxOccurs="1" />
							<xs:element name="firstmonth" type="xs:date" minOccurs="1" maxOccurs="1" />
							<xs:element name="secondmonth" type="xs:date" minOccurs="1" maxOccurs="1" />
							<xs:element name="keywordid" type="xs:integer" minOccurs="1" maxOccurs="1" />
					</xs:all>
				</xs:complexType>
				</xs:element>
				<!-- Search Log -->
				<xs:element name="search-logs">
					<xs:complexType>
						<xs:all>
							<xs:element name="recipient">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="country-id" type="xs:integer">
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="keyword" type="xs:integer" minOccurs="1" maxOccurs="1"/>
							<xs:element name="date" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:all>
						<xs:attribute name="id" type="xs:integer" use="required"/>
						<xs:attribute name="external-id" type="xs:string" use="required"/>
						<xs:attribute name="client-id" type="xs:positiveInteger" use="required"/>
						<xs:attribute name="type-id" type="xs:positiveInteger" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Save Client config XML schema -->				
				<xs:element name="save-client-configuration" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="client-config" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="name" type="name" minOccurs="1" maxOccurs="1"/>
                                    <xs:element name="username" type="name" minOccurs="1" maxOccurs="1"/>
                                    <xs:element name="password" type="name" minOccurs="1" maxOccurs="1"/>
                                    <xs:element name="keyword" type="name" minOccurs="1" maxOccurs="1"/>
                                    <xs:element name="max-amount" type="amount" minOccurs="1" maxOccurs="1"/>
                                    <xs:element ref="urls" minOccurs="1" maxOccurs="1"/>
                                    <xs:element ref="cards" minOccurs="1" maxOccurs="1"/>
                                    <xs:element ref="payment-service-providers" minOccurs="1" maxOccurs="1"/>
                                    <xs:element ref="accounts" minOccurs="1" maxOccurs="1"/>
                                    <xs:element ref="issuer-identification-number-ranges" minOccurs="1" maxOccurs="1"/>
                                    <xs:element ref="callback-protocol" minOccurs="1" maxOccurs="1"/>
                                    <xs:element name="identification" type="xs:byte" minOccurs="1" maxOccurs="1"/>
                                    <xs:element name="transaction-time-to-live" type="xs:byte" minOccurs="1" maxOccurs="1"/>
                                </xs:all>
                                <xs:attribute name="id" type="xs:positiveInteger" use="optional"/>
                                <xs:attribute name="country-id" type="xs:positiveInteger" use="required" />
                                <xs:attribute name="language" type="language" use="optional" />
                                <xs:attribute name="sms-receipt" type="xs:boolean" use="optional" />
                                <xs:attribute name="email-receipt" type="xs:boolean" use="optional" />
                                <xs:attribute name="mode" type="xs:byte" use="optional" />
                                <xs:attribute name="auto-capture" type="boolean" use="required"/>                                
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
		</xs:choice>
	</xs:complexType>
</xs:element>

<xs:element name="urls">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="url" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:anyURI">
                            <xs:attribute name="type-id" use="required" type="xs:positiveInteger"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
<xs:element name="cards">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="card" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="country-id" use="optional" type="countryid"/>
                            <xs:attribute name="id" use="required" type="xs:positiveInteger"/>
                            <xs:attribute name="psp-id" use="required" type="xs:positiveInteger"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:nonNegativeInteger" name="store-card"/>
      	<xs:attribute type="xs:boolean" name="show-all-cards"/>
      	<xs:attribute type="xs:nonNegativeInteger" name="max-stored-cards"/>
    </xs:complexType>
</xs:element>
<xs:element name="payment-service-providers">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="payment-service-provider" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="name" type="name" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="username" type="name" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="password" type="name" minOccurs="0" maxOccurs="1"/>
                    </xs:all>
                    <xs:attribute name="id" use="optional" type="xs:positiveInteger"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
<xs:element name="accounts">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="account" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="name" type="name"/>
                        <xs:element name="markup">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="5"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element ref="payment-service-providers"/>
                    </xs:all>
                    <xs:attribute name="id" use="optional" type="xs:positiveInteger"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
<xs:element name="issuer-identification-number-ranges">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="issuer-identification-number-range">
          <xs:annotation>
            <xs:documentation>Blocks Dankort but VISA / Dankort are still accepted</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:positiveInteger" name="min"/>
              <xs:element type="xs:positiveInteger" name="max"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="action-id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
</xs:element>
<xs:element name="callback-protocol">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:boolean" name="send-psp-id"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>


<xs:simpleType name="name">
    <xs:restriction base="xs:string">
        <xs:minLength value="1"/>
        <xs:maxLength value="50"/>
    </xs:restriction>
</xs:simpleType>
<xs:simpleType name="boolean">
    <xs:restriction base="xs:string">
        <xs:enumeration value="false"/>
        <xs:enumeration value="true"/>
    </xs:restriction>
</xs:simpleType>
<xs:complexType name="amount">
	<xs:simpleContent>
		<xs:extension base="xs:nonNegativeInteger">
			<xs:attribute name="country-id" type="xs:positiveInteger" use="optional" />
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

</xs:schema>
