webroot/protocols/mconsole-entities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="global.xsd" />
	<!-- Login -->
	<xs:complexType name="login">
		<xs:all>
			<xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="password" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="transaction-info">
		<xs:annotation>
			<xs:documentation>
				Contains detailed information about an mPoint transaction.
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="client" type="basic" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The mPoint Client (Merchant) on whose behalf the payment transaction was processed 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sub-account" type="basic" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The mPoint Sub-Account through which the payment transaction was processed 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="customer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Information about the customer who executed the payment transaction 
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="customer">
							<xs:sequence>
								<xs:element name="full-name" type="xs:string" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>
											The customer's full name as retrieved from the customer's profile 
										</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="id" type="xs:positiveInteger" use="required">
								<xs:annotation>
									<xs:documentation>
										mPoint's unique ID for the customer's profile  
									</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The date and time when the payment transaction was created 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="payment-service-provider" type="basic" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The Payment Service Provider to whom mPoint routed the payment transaction for authorization 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="card" type="basic" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The Card (Payment Method) which the customer elected to pay with 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messages" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						A list of messages that describes which states the payment transaction has gone through 
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="message" type="message" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									The message for a specific state the payment transaction has gone through 
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the payment transaction
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="order-no" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The Order Number provided by Client's (Merchant) System when the payment transaction was initialized 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="external-id" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The Payment Service Provider's unique ID for the payment transaction
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type-id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the transaction type 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="state-id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the payment transaction's current state 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="basic">
		<xs:annotation>
			<xs:documentation>
				Contains basic information about standard mPoint entities such as:
				- Client
				- Sub-Account
				- Payment Service Provider
				This information is included as part of the details for an mPoint transaction. 
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:positiveInteger" use="required">
					<xs:annotation>
						<xs:documentation>
							The unique ID of the returned record 
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="customer">
		<xs:annotation>
			<xs:documentation>
				Contains information about a customer, which may be included in any of the following scenarios:
				- When doing a Transaction Search
				- As part of the Transaction Details in a search result set
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mobile" type="mobile" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The customer's mobile number, which may be obtained from one of the following record types:
						- The customer's profile
						- A transaction record
						Alternatively the mobile number may be specified as a search criteria when performing one of the following operations:
						- Transaction Search
						- Audit Log Search
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The customer's email address, which may be obtained from one of the following record types:
						- The customer's profile
						- A transaction record
						Alternatively the email address may be specified as a search criteria when performing one of the following operations:
						- Transaction Search
						- Audit Log Search
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="customer-ref" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The client's (merchant's) reference for the customer. This would normally be the customer's number in the client's CRM system.  
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="message">
		<xs:annotation>
			<xs:documentation>
				Specifies the criteria for executing a transaction search  
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
			<xs:element name="data" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the message 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="state-id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the transaction state that the message was recorded for  
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="prefix-config">
		<xs:annotation>
			<xs:documentation>
				Configuration for a prefix range which may be used to automatically detect the Payment Method (Card)  
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="min" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The minimum value for the prefix range
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						<xs:minInclusive value="1000" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="max" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The maximum value for the prefix range
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						<xs:minInclusive value="1000" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the prefix configuration
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Search -->
	<xs:complexType name="transaction-search-request">
		<xs:annotation>
			<xs:documentation>
				Specifies the criteria for executing a transaction search  
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="transaction" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Specifies the criteria for searching for one or more specific transactions
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:all>
						<xs:element name="customer" type="customer" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Specifies the criteria for searching for a customer's transactions
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:all>
					<xs:attribute name="id" type="xs:positiveInteger" use="optional">
						<xs:annotation>
							<xs:documentation>
								mPoint's unique ID for the transaction that should be found
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="order-no" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								The Client's (Merchant's) Order Number for the transaction that should be found
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="start-date" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Specifies the start date / time for the transaction that should be found 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="end-date" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Specifies the end date / time for the transaction that should be found 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attribute name="debug" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>
					Flag indicating whether debug data for each transaction should be returned as part of the transaction details
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="client-id" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the client (merchant) who must own the transactions found transactions
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="transaction-search-response">
		<xs:annotation>
			<xs:documentation>
				Contains the result for the executed transaction search
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="transactions" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Contains the list of transactions found for the executed transaction search
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="transaction" type="transaction-info" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										Contains detailed information about all mPoint transactions that was found for the executed transaction search
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="sorted-by" default="timestamp">
							<xs:annotation>
								<xs:documentation>
									The property that the results for the executed transaction search has been ordered by 
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="timestamp" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="sort-order" default="descending">
							<xs:annotation>
								<xs:documentation>
									The order in which the results for the executed transaction search has been sorted by
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ascending" />
									<xs:enumeration value="descending" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="status" type="status" minOccurs="1" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							Describes any errors that ocurred during the transaction search, normally this is due to errors in the input in the search criteria
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- Payment Method Configurations -->
	<xs:complexType name="payment-method-configuration-search-request">
		<xs:annotation>
			<xs:documentation>
				Specifies the criteria for executing a configuration search  
			</xs:documentation>
		</xs:annotation>
		<xs:all>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="payment-method-configuration-search-response">
		<xs:annotation>
			<xs:documentation>
				Contains the list of payment method (card) configurations found for the executed configuration search
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="payment-method-configurations" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Contains a list of Payment Method Configurations
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="payment-method-config" type="payment-method-config" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										The configuration details for a specific Payment Method (Card)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="status" type="status" minOccurs="1" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							Describes any errors that ocurred during the payment method search, normally this is due to errors in the input in the search criteria
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="payment-method-config">
		<xs:all>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The name of the Payment Method (Card)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="min-length" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The minimum length of a valid number for the Payment Method (Card)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="-1" />
						<xs:enumeration value="13" />
						<xs:enumeration value="14" />
						<xs:enumeration value="15" />
						<xs:enumeration value="16" />
						<xs:enumeration value="17" />
						<xs:enumeration value="18" />
						<xs:enumeration value="19" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="max-length" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The maximum length of a valid number for the Payment Method (Card)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="-1" />
						<xs:enumeration value="13" />
						<xs:enumeration value="14" />
						<xs:enumeration value="15" />
						<xs:enumeration value="16" />
						<xs:enumeration value="17" />
						<xs:enumeration value="18" />
						<xs:enumeration value="19" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cvc-length" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The length of a CVC number for the Payment Method (Card)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="-1" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="prefixes" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contains a list of card number prefixes which may be used to automatically detect the Payment Method (Card)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="prefix" type="prefix-config" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Configuration for a prefix range which may be used to automatically detect the Payment Method (Card) 
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="payment-service-providers" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contains a list of Payment Service Providers, which supports the Payment Method (Card)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="payment-service-provider" type="basic" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Basic Information about a Payment Service Provider which supports the Payment Method (Card)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="countries" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contains a list of Countries in which the Payment Method (Card) is supported
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="country" type="basic" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Basic Information about a Country in which the Payment Method (Card) is supported
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					mPoint's unique ID for the Payment Method (Card)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="position" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>
					The position at which the Payment Method (Card) should be placed
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Get Client Configurations -->
	<xs:complexType name="client-configuration-search-request">
		<xs:all>
			<xs:element name="clients" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:integer" name="client-id" maxOccurs="unbounded" minOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="client-configuration-search-response">
		<xs:sequence>
			<xs:element name="client-config" type="client-config" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<!-- Save Client Configurations -->
	<xs:complexType name="save-client-configuration-request">
		<xs:sequence>
			<xs:element name="client-config" type="client-config" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="save-client-configuration-response">
		<xs:sequence>
			<xs:element name="status" type="status" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="status">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="code" type="xs:positiveInteger" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- save-cards -->
	<xs:complexType name="save-cards">
		<xs:all>
			<xs:element name="cards" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="card">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:positiveInteger" use="required" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="user-id" type="xs:positiveInteger" use="required" />
	</xs:complexType>
	<xs:complexType name="get-cards">
		<xs:all>
			<xs:element name="clients" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="client">
							<xs:complexType>
								<xs:attribute name="id" type="xs:positiveInteger" use="required" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="user-id" type="xs:positiveInteger" use="required" />
	</xs:complexType>
	<!-- roles -->
	<xs:complexType name="get-roles">
		<xs:all>
			<xs:element name="id" type="xs:integer" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>
	<!-- Get Customer -->
	<xs:complexType name="get-customer">
		<xs:all>
			<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
			<xs:element name="countryid" type="xs:integer" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>
	<!-- Save Note -->
	<xs:complexType name="save-note">
		<xs:all>
			<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
			<xs:element name="txnid" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="message" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>
	<!-- Refund -->
	<xs:complexType name="refund">
		<xs:all>
			<xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="password" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="clientid" type="xs:integer" minOccurs="1" maxOccurs="1" />
			<xs:element name="mpointid" type="xs:integer" minOccurs="1" maxOccurs="1" />
			<xs:element name="orderid" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="amount" type="xs:integer" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="get-countries">
		<xs:all>
			<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="get-keywords">
		<xs:all>
			<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="get-months">
		<xs:all>
			<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="get-keyword-stats">
		<xs:all>
			<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
			<xs:element name="clientid" type="xs:integer" minOccurs="1" maxOccurs="1" />
			<xs:element name="countryid" type="xs:integer" minOccurs="1" maxOccurs="1" />
			<xs:element name="firstmonth" type="xs:date" minOccurs="1" maxOccurs="1" />
			<xs:element name="secondmonth" type="xs:date" minOccurs="1" maxOccurs="1" />
			<xs:element name="keywordid" type="xs:integer" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="get-keyword-export">
		<xs:all>
			<xs:element name="userid" type="xs:integer" minOccurs="1" maxOccurs="1" />
			<xs:element name="clientid" type="xs:integer" minOccurs="1" maxOccurs="1" />
			<xs:element name="countryid" type="xs:integer" minOccurs="1" maxOccurs="1" />
			<xs:element name="firstmonth" type="xs:date" minOccurs="1" maxOccurs="1" />
			<xs:element name="secondmonth" type="xs:date" minOccurs="1" maxOccurs="1" />
			<xs:element name="keywordid" type="xs:integer" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="urls">
		<xs:sequence>
			<xs:element name="url" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:anyURI">
							<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
							<xs:attribute name="type-id" type="xs:positiveInteger" use="required" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cards">
		<xs:sequence>
			<xs:element name="card" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
							<xs:attribute name="country-id" type="countryid" use="optional" />
							<xs:attribute name="type-id" type="xs:positiveInteger" use="required" />
							<xs:attribute name="psp-id" type="xs:positiveInteger" use="required" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute type="xs:nonNegativeInteger" name="store-card" />
		<xs:attribute type="xs:boolean" name="show-all-cards" />
		<xs:attribute type="xs:nonNegativeInteger" name="max-stored-cards" />
	</xs:complexType>
	<xs:complexType name="payment-service-providers">
		<xs:sequence>
			<xs:element name="payment-service-provider" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:all>
						<xs:element name="name" type="name" minOccurs="1" maxOccurs="1" />
						<xs:element name="username" type="name" minOccurs="0" maxOccurs="1" />
						<xs:element name="password" type="name" minOccurs="0" maxOccurs="1" />
					</xs:all>
					<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
					<xs:attribute name="psp-id" type="xs:positiveInteger" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="accounts">
		<xs:sequence>
			<xs:element name="account" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:all>
						<xs:element name="name" type="name" />
						<xs:element name="markup">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="0" />
									<xs:maxLength value="5" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="payment-service-providers" type="payment-service-providers" minOccurs="1" maxOccurs="1" />
					</xs:all>
					<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="issuer-identification-number-ranges">
		<xs:sequence>
			<xs:element name="issuer-identification-number-range">
				<xs:annotation>
					<xs:documentation>Blocks Dankort but VISA / Dankort are still accepted</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:positiveInteger" name="min" />
						<xs:element type="xs:positiveInteger" name="max" />
					</xs:sequence>
					<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
					<xs:attribute type="xs:positiveInteger" name="action-id" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="callback-protocols">
		<xs:restriction base="xs:string">
			<xs:enumeration value="mpoint" />
			<xs:enumeration value="psp" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="callback-protocol">
		<xs:simpleContent>
			<xs:extension base="callback-protocols">
				<xs:attribute type="xs:boolean" name="send-psp-id" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- Client Configuration Entity -->
	<xs:complexType name="client-config">
		<xs:all>
			<xs:element name="name" type="name" minOccurs="1" maxOccurs="1" />
			<xs:element name="username" type="name" minOccurs="1" maxOccurs="1" />
			<xs:element name="password" type="name" minOccurs="1" maxOccurs="1" />
			<xs:element name="keyword" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="name">
							<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="max-amount" type="amount" minOccurs="1" maxOccurs="1" />
			<xs:element name="urls" type="urls" minOccurs="1" maxOccurs="1" />
			<xs:element name="cards" type="cards" minOccurs="1" maxOccurs="1" />
			<xs:element name="payment-service-providers" type="payment-service-providers" minOccurs="1" maxOccurs="1" />
			<xs:element name="accounts" type="accounts" minOccurs="1" maxOccurs="1" />
			<xs:element name="issuer-identification-number-ranges" type="issuer-identification-number-ranges" minOccurs="1" maxOccurs="1" />
			<xs:element name="callback-protocol" type="callback-protocol" minOccurs="1" maxOccurs="1" />
			<xs:element name="identification" type="xs:byte" minOccurs="1" maxOccurs="1" />
			<xs:element name="transaction-time-to-live" type="xs:byte" minOccurs="1" maxOccurs="1" />
		</xs:all>
		<xs:attribute name="id" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="country-id" type="xs:positiveInteger" use="required" />
		<xs:attribute name="language" type="language" use="optional" />
		<xs:attribute name="sms-receipt" type="xs:boolean" use="optional" />
		<xs:attribute name="email-receipt" type="xs:boolean" use="optional" />
		<xs:attribute name="mode" type="xs:byte" use="optional" />
		<xs:attribute name="auto-capture" type="xs:boolean" use="required" />
	</xs:complexType>
	
	<xs:complexType name="get-client-configurations">		          
         <xs:sequence>
           <xs:element type="xs:integer" name="client-id" maxOccurs="unbounded" minOccurs="1"/>
         </xs:sequence>
         <xs:attribute type="xs:integer" name="user-id"/>		          
   </xs:complexType>

	<xs:simpleType name="name">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="amount">
		<xs:simpleContent>
			<xs:extension base="xs:nonNegativeInteger">
				<xs:attribute name="country-id" type="xs:positiveInteger" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

</xs:schema>
