webroot/_test/simulators/xsd/check-fraud-status.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="check-fraud-status">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="transaction">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="captured-amount">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:byte">
														<xs:attribute type="xs:byte" name="country-id"/>
														<xs:attribute type="xs:string" name="currency"/>
														<xs:attribute type="xs:string" name="symbol"/>
														<xs:attribute type="xs:string" name="format"/>
														<xs:attribute type="xs:string" name="alpha2code"/>
														<xs:attribute type="xs:string" name="alpha3code"/>
														<xs:attribute type="xs:short" name="code"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="amount_info">
											<xs:complexType>
												<xs:all>
													<xs:element name="country-id" type="xs:string"/>
													<xs:element name="currency" type="xs:string"/>
													<xs:element name="symbol" type="xs:string"/>
													<xs:element name="format" type="xs:string"/>
													<xs:element name="code" type="xs:string"/>
													<xs:element name="alpha3code" type="xs:string"/>
													<xs:element name="alpha2code" type="xs:string"/>
													<xs:element name="currency-id" type="xs:string"/>
													<xs:element name="decimals" type="xs:positiveInteger"/>
													<xs:element name="amount" type="xs:positiveInteger"/>

												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="fee">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:byte">
														<xs:attribute type="xs:byte" name="country-id"/>
														<xs:attribute type="xs:string" name="currency"/>
														<xs:attribute type="xs:string" name="symbol"/>
														<xs:attribute type="xs:string" name="format"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="price"/>
										<xs:element name="points">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:byte">
														<xs:attribute type="xs:byte" name="country-id"/>
														<xs:attribute type="xs:string" name="currency"/>
														<xs:attribute type="xs:string" name="symbol"/>
														<xs:attribute type="xs:string" name="format"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="reward">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:byte">
														<xs:attribute type="xs:byte" name="country-id"/>
														<xs:attribute type="xs:string" name="currency"/>
														<xs:attribute type="xs:string" name="symbol"/>
														<xs:attribute type="xs:string" name="format"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="refund">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:byte">
														<xs:attribute type="xs:byte" name="country-id"/>
														<xs:attribute type="xs:string" name="currency"/>
														<xs:attribute type="xs:string" name="symbol"/>
														<xs:attribute type="xs:string" name="format"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="orderid"/>
										<xs:element name="mobile">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:byte" name="country-id"/>
														<xs:attribute type="xs:byte" name="country-code"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:byte" name="operator"/>
										<xs:element type="xs:string" name="email"/>
										<xs:element type="xs:string" name="device-id"/>
										<xs:element name="logo">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="url"/>
													<xs:element type="xs:string" name="width"/>
													<xs:element type="xs:string" name="height"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="css-url"/>
										<xs:element type="xs:string" name="accept-url"/>
										<xs:element type="xs:string" name="cancel-url"/>
										<xs:element type="xs:string" name="decline-url"/>
										<xs:element type="xs:anyURI" name="callback-url"/>
										<xs:element type="xs:string" name="icon-url"/>
										<xs:element type="xs:string" name="auth-url"/>
										<xs:element type="xs:string" name="language"/>
										<xs:element type="xs:string" name="auto-capture"/>
										<xs:element type="xs:string" name="auto-store-card"/>
										<xs:element type="xs:string" name="markup-language"/>
										<xs:element type="xs:string" name="customer-ref"/>
										<xs:element type="xs:string" name="description"/>
										<xs:element type="xs:string" name="ip"/>
										<xs:element type="xs:string" name="hmac"/>
										<xs:element type="xs:int" name="created-date"/>
										<xs:element type="xs:int" name="created-time"/>
										<xs:element ref="additional-data" minOccurs="0" maxOccurs="1" />
										<xs:element name="authorized-amount">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:short">
														<xs:attribute type="xs:byte" name="country-id"/>
														<xs:attribute type="xs:short" name="currency-id"/>
														<xs:attribute type="xs:string" name="currency"/>
														<xs:attribute type="xs:byte" name="decimals"/>
														<xs:attribute type="xs:string" name="symbol"/>
														<xs:attribute type="xs:string" name="format"/>
														<xs:attribute type="xs:string" name="alpha2code"/>
														<xs:attribute type="xs:string" name="alpha3code"/>
														<xs:attribute type="xs:short" name="code"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:int" name="id"/>
									<xs:attribute type="xs:byte" name="type"/>
									<xs:attribute type="xs:byte" name="gmid"/>
									<xs:attribute type="xs:byte" name="mode"/>
									<xs:attribute type="xs:short" name="eua-id"/>
									<xs:attribute type="xs:byte" name="attempt"/>
									<xs:attribute type="xs:integer" name="product-type"/>
									<xs:attribute type="xs:byte" name="psp-id"/>
									<xs:attribute type="xs:byte" name="card-id"/>
									<xs:attribute type="xs:byte" name="wallet-id"/>
									<xs:attribute type="xs:string" name="external-id"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="card">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="card-number" type="xs:string" />
										<xs:element name="cryptogram" type="xs:string" />
										<xs:element name="type" type="xs:string" />
										<xs:element name="eci" type="xs:unsignedByte" />
										<xs:element name="algorithmId" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="type-id" type="xs:unsignedByte" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="additional-data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="param">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

</xs:schema>