webroot/_test/simulators/xsd/check-fraud-status.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fraudCheck">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type"></xs:element>
							<xs:element name="client-config"></xs:element>
							<xs:element name="pspConfig"></xs:element>
							<xs:element name="transaction">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:int" name="id"/>
										<xs:element type="xs:byte" name="type"/>
										<xs:element type="xs:byte" name="gmid"/>
										<xs:element type="xs:byte" name="mode"/>
										<xs:element type="xs:byte" name="attempt"/>
										<xs:element type="xs:integer" name="pspId"/>
										<xs:element type="xs:byte" name="cardId"/>
										<xs:element type="xs:byte" name="walletId"/>
										<xs:element type="xs:byte" name="productType"/>
										<xs:element type="xs:string" name="externalId"/>
										<xs:element name="initialize_amount" type="initialize_amount" minOccurs="0" maxOccurs="1"/>
										<xs:element name="conversion_rate" type="xs:float" minOccurs="0" maxOccurs="1"/>
										<xs:element name="external_refs" type="external_refs" minOccurs="0" maxOccurs="1"/>
										<xs:element name="capturedAmount">
											<xs:complexType>
												<xs:all>
														<xs:element type="xs:byte" name="countryId"/>
														<xs:element type="xs:string" name="currency"/>
														<xs:element type="xs:string" name="symbol"/>
														<xs:element type="xs:string" name="format"/>
														<xs:element type="xs:string" name="alpha2code"/>
														<xs:element type="xs:string" name="alpha3code"/>
														<xs:element type="xs:short" name="code"/>
														<xs:element type="xs:short" name="amount"/>
												</xs:all>
											</xs:complexType>
										</xs:element>

										<xs:element name="amount">
											<xs:complexType>
												<xs:all>
													<xs:element type="xs:byte" name="countryId"/>
													<xs:element type="xs:string" name="currencyId"/>
													<xs:element type="xs:string" name="currency"/>
													<xs:element type="xs:string" name="decimals"/>
													<xs:element type="xs:string" name="symbol"/>
													<xs:element type="xs:string" name="format"/>
													<xs:element type="xs:string" name="alpha2code"/>
													<xs:element type="xs:string" name="alpha3code"/>
													<xs:element type="xs:short" name="code"/>
													<xs:element type="xs:short" name="value"/>
												</xs:all>
											</xs:complexType>
										</xs:element>

										<xs:element name="amountInfo">
											<xs:complexType>
												<xs:all>
													<xs:element type="xs:byte" name="countryId"/>
													<xs:element type="xs:string" name="currencyId"/>
													<xs:element type="xs:string" name="currency"/>
													<xs:element type="xs:string" name="decimals"/>
													<xs:element type="xs:string" name="symbol"/>
													<xs:element type="xs:string" name="format"/>
													<xs:element type="xs:string" name="alpha2code"/>
													<xs:element type="xs:string" name="alpha3code"/>
													<xs:element type="xs:short" name="code"/>
													<xs:element type="xs:short" name="amount"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="fee">
											<xs:complexType>
												<xs:all>
														<xs:element type="xs:byte" name="countryId"/>
														<xs:element type="xs:string" name="currency"/>
														<xs:element type="xs:string" name="symbol"/>
														<xs:element type="xs:string" name="format"/>
														<xs:element type="xs:short" name="amount"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="price"/>
										<xs:element name="points">
											<xs:complexType>
												<xs:all>
														<xs:element type="xs:byte" name="countryId"/>
														<xs:element type="xs:string" name="currency"/>
														<xs:element type="xs:string" name="symbol"/>
														<xs:element type="xs:string" name="format"/>
														<xs:element type="xs:short" name="amount"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="reward">
											<xs:complexType>
												<xs:all>
														<xs:element type="xs:byte" name="countryId"/>
														<xs:element type="xs:string" name="currency"/>
														<xs:element type="xs:string" name="symbol"/>
														<xs:element type="xs:string" name="format"/>
														<xs:element type="xs:short" name="amount"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="refund">
											<xs:complexType>
												<xs:all>
														<xs:element type="xs:byte" name="countryId"/>
														<xs:element type="xs:string" name="currency"/>
														<xs:element type="xs:string" name="symbol"/>
														<xs:element type="xs:string" name="format"/>
														<xs:element type="xs:short" name="amount"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="orderid"/>
										<xs:element name="mobile">
											<xs:complexType>
												<xs:all>
														<xs:element type="xs:byte" name="countryId"/>
														<xs:element type="xs:byte" name="countryCode"/>
														<xs:element type="xs:string" name="value"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:byte" name="operator"/>
										<xs:element type="xs:string" name="email"/>
										<xs:element type="xs:string" name="deviceId"/>
										<xs:element name="logo">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="url"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="cssUrl"/>
										<xs:element type="xs:string" name="acceptUrl"/>
										<xs:element type="xs:string" name="cancelUrl"/>
										<xs:element type="xs:string" name="declineUrl"/>
										<xs:element type="xs:anyURI" name="callbackUrl"/>
										<xs:element type="xs:string" name="iconUrl"/>
										<xs:element type="xs:string" name="authUrl"/>
										<xs:element type="xs:string" name="language"/>
										<xs:element type="xs:string" name="autoCapture"/>
										<xs:element type="xs:string" name="autoStoreCard"/>
										<xs:element type="xs:string" name="markupLanguage"/>
										<xs:element type="xs:string" name="customerRef"/>
										<xs:element type="xs:string" name="description"/>
										<xs:element type="xs:string" name="ip"/>
										<xs:element type="xs:string" name="hmac"/>
										<xs:element type="xs:int" name="createdDate"/>
										<xs:element type="xs:int" name="createdTime"/>
										<xs:element type="xs:string" name="token" minOccurs="0"/>
										<xs:element type="xs:string" name="cardMask" minOccurs="0"/>
										<xs:element type="xs:string" name="expiry" minOccurs="0"/>
										<xs:element type="xs:string" name="approvalCode" minOccurs="0"/>
										<xs:element ref="additionalData" minOccurs="0" maxOccurs="1" />

									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="card">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="card-holder-name" type="xs:string" minOccurs="0" />
										<xs:element name="card-number" type="xs:string" />
										<xs:element name="expiry-month" type="xs:string" />
										<xs:element name="expiry-year" type="xs:string" />
										<xs:element name="cvc" type="xs:string" minOccurs="0" />
										<xs:element name="info-3d-secure" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="type-id" type="xs:unsignedByte" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="address" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:all>
										<xs:element name="first-name" type="xs:string"   minOccurs="0" maxOccurs="1" />
										<xs:element name="last-name" type="xs:string"    minOccurs="0" maxOccurs="1" />
										<xs:element name="full-name" type="xs:string"    minOccurs="0" maxOccurs="1" />
										<xs:element name="company" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="street" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="street2" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="postal-code" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1" />
									</xs:all>
									<xs:attribute name="country-id" type="xs:positiveInteger" use="required" />
									<xs:attribute name="alpha2code" type="xs:string" use="required" />
									<xs:attribute name="alpha3code" type="xs:string" use="required" />
									<xs:attribute name="code" type="xs:positiveInteger" use="required" />
									<xs:attribute name="idc" type="xs:positiveInteger" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="client-info" type="client-info" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="client-info">
		<xs:all>
			<xs:element name="customer-ref" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="mobile" type="mobile" minOccurs="0" maxOccurs="1" />
			<xs:element name="email" type="email" minOccurs="0" maxOccurs="1" />
			<xs:element name="device-id" type="device-id" minOccurs="0" maxOccurs="1" />
			<xs:element name="ip" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:all>
		<xs:attribute name="app-id" type="xs:integer" use="optional" />
		<xs:attribute name="platform" type="platform" use="required" />
		<xs:attribute name="version" type="version" use="required" />
		<xs:attribute name="language" type="language-code" use="required" />
		<xs:attribute name="pushid" type="xs:string" use="optional"/>
		<xs:attribute name="sdk-version" type="version" use="optional"/>
		<xs:attribute name="app-version" type="version" use="optional"/>
	</xs:complexType>

	<xs:complexType name="mobile">
		<xs:simpleContent>
			<xs:restriction base="phone">
				<xs:minLength value="6" />
				<xs:maxLength value="15" />
				<xs:pattern value="([0-9])*"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="operatorid">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="10000" />
			<xs:maxInclusive value="99999" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="countryid">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="100" />
			<xs:maxInclusive value="999" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="countrycode">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="999" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="device-id">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="platform">
		<xs:restriction base="xs:string">
			<xs:pattern value="(iOS|Android|WP7|WinMo|HTML5|Web|Other)/?.*" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="version">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\.]+-?[0-9]{0,3}" />
			<xs:pattern value="[0-9]+\.[0-9]" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="language-code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="da" />
			<xs:enumeration value="gb" />
			<xs:enumeration value="us" />
			<xs:enumeration value="no" />
			<xs:enumeration value="sv" />
			<xs:enumeration value="en" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="email">
		<xs:restriction base="xs:string">
			<xs:pattern value="[^@]+@[^\.]+\..+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="phone">
		<xs:simpleContent>
			<xs:extension base="xs:token">
				<xs:attribute name="country-id" type="countryid" use="required" />
				<xs:attribute name="operator-id" type="operatorid" use="optional" />
				<xs:attribute name="country-code" type="countrycode" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:element name="additionalData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="param">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="value" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="initialize_amount">
		<xs:sequence>
			<xs:element type="xs:integer" name="amount"/>
			<xs:element type="xs:integer" name="currency_id"/>
			<xs:element type="xs:string" name="currency"/>
			<xs:element type="xs:integer" name="decimals"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="external_refs">
		<xs:sequence>
			<xs:element name="external_ref" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:integer" name="type"/>
						<xs:element type="xs:integer" name="pspid"/>
						<xs:element type="xs:integer" name="reference"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>