webroot/_test/simulators/xsd/get-payment-data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="get-payment-data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="psp-config">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="name"/>
										<xs:element type="xs:int" name="merchant-account"/>
										<xs:element type="xs:integer" name="merchant-sub-account"/>
										<xs:element type="xs:string" name="username"/>
										<xs:element type="xs:string" name="password"/>
										<xs:element type="xs:string" name="messages"/>
										<xs:element type="xs:string" name="additional-config"/>
									</xs:sequence>
									<xs:attribute type="xs:integer" name="id"/>
									<xs:attribute type="xs:integer" name="type"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="client-config">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="name"/>
										<xs:element type="xs:string" name="username"/>
										<xs:element name="max-amount">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:integer">
														<xs:attribute type="xs:integer" name="country-id"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="urls">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="url">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:anyURI">
																	<xs:attribute type="xs:integer" name="id"/>
																	<xs:attribute type="xs:integer" name="type-id"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="keyword">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:integer" name="id"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="payment-methods">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="payment-method" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute type="xs:integer" name="id" use="optional"/>
																	<xs:attribute type="xs:integer" name="type-id" use="optional"/>
																	<xs:attribute type="xs:integer" name="state-id" use="optional"/>
																	<xs:attribute type="xs:integer" name="country-id" use="optional"/>
																	<xs:attribute type="xs:integer" name="psp-id" use="optional"/>
																	<xs:attribute type="xs:string" name="enabled" use="optional"/>
																	<xs:attribute type="xs:string" name="payment-type" use="optional"/>
																	<xs:attribute type="xs:positiveInteger" name="capture-type" use="optional"/>
																	<xs:attribute type="xs:string" name="walletid" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:integer" name="store-card"/>
												<xs:attribute type="xs:string" name="show-all-cards"/>
												<xs:attribute type="xs:integer" name="max-stored-cards"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="account-configurations">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="account-config">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="name"/>
																<xs:element type="xs:string" name="markup"/>
																<xs:element type="xs:string" name="businessType"/>
																<xs:element name="payment-service-providers">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="payment-service-provider" maxOccurs="unbounded" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element type="xs:integer" name="name"/>
																						<xs:element type="xs:dateTime" name="modified-date"/>
																					</xs:sequence>
																					<xs:attribute type="xs:integer" name="id" use="optional"/>
																					<xs:attribute type="xs:integer" name="psp-id" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute type="xs:short" name="id"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="gomobile-configuration-params"/>
										<xs:element type="xs:string" name="communication-channels"/>
										<xs:element name="callback-protocol">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="send-psp-id"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:integer" name="identification"/>
										<xs:element type="xs:integer" name="transaction-time-to-live"/>
										<xs:element type="xs:string" name="issuer-identification-number-ranges"/>
										<xs:element type="xs:string" name="salt"/>
										<xs:element type="xs:string" name="secret-key"/>
										<xs:element type="xs:string" name="additional-config"/>
										<xs:element type="xs:nonNegativeInteger" name="decimal" />
										<xs:element name="transaction-types" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="transaction-type" type="transaction-type-config" minOccurs="0" maxOccurs="unbounded" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:integer" name="id"/>
									<xs:attribute type="xs:string" name="auto-capture"/>
									<xs:attribute type="xs:string" name="enable-cvv"/>
									<xs:attribute type="xs:integer" name="country-id"/>
									<xs:attribute type="xs:string" name="language"/>
									<xs:attribute type="xs:string" name="sms-receipt"/>
									<xs:attribute type="xs:string" name="email-receipt"/>
									<xs:attribute type="xs:integer" name="mode"/>
									<xs:attribute type="xs:integer" name="masked-digits"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="transaction">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="captured-amount">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:integer">
														<xs:attribute type="xs:integer" name="country-id"/>
														<xs:attribute type="xs:string" name="currency"/>
														<xs:attribute type="xs:string" name="symbol"/>
														<xs:attribute type="xs:string" name="format"/>
														<xs:attribute type="xs:string" name="alpha2code"/>
														<xs:attribute type="xs:string" name="alpha3code"/>
														<xs:attribute type="xs:short" name="code"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="foreign-exchange-info" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:all>
													<xs:element name="service-type-id" type="xs:nonNegativeInteger"	minOccurs="1" maxOccurs="1" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="initialize_amount" type="initialize_amount" minOccurs="0" maxOccurs="1"/>
										<xs:element name="conversion_rate" type="xs:float" minOccurs="0" maxOccurs="1"/>
										<xs:element name="external_refs" type="external_refs" minOccurs="0" maxOccurs="1"/>
										<xs:element name="amount_info">
											<xs:complexType>
												<xs:all>
													<xs:element name="country-id" type="xs:string"/>
													<xs:element name="currency" type="xs:string"/>
													<xs:element name="symbol" type="xs:string"/>
													<xs:element name="format" type="xs:string"/>
													<xs:element name="code" type="xs:string"/>
													<xs:element name="alpha3code" type="xs:string"/>
													<xs:element name="alpha2code" type="xs:string"/>
													<xs:element name="currency-id" type="xs:string"/>
													<xs:element name="decimals" type="xs:positiveInteger"/>
													<xs:element name="amount" type="xs:positiveInteger"/>
													
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="fee">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:integer">
														<xs:attribute type="xs:integer" name="country-id"/>
														<xs:attribute type="xs:string" name="currency"/>
														<xs:attribute type="xs:string" name="symbol"/>
														<xs:attribute type="xs:string" name="format"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="price"/>
										<xs:element name="points">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:integer">
														<xs:attribute type="xs:integer" name="country-id"/>
														<xs:attribute type="xs:string" name="currency"/>
														<xs:attribute type="xs:string" name="symbol"/>
														<xs:attribute type="xs:string" name="format"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="reward">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:integer">
														<xs:attribute type="xs:integer" name="country-id"/>
														<xs:attribute type="xs:string" name="currency"/>
														<xs:attribute type="xs:string" name="symbol"/>
														<xs:attribute type="xs:string" name="format"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="refund">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:integer">
														<xs:attribute type="xs:integer" name="country-id"/>
														<xs:attribute type="xs:string" name="currency"/>
														<xs:attribute type="xs:string" name="symbol"/>
														<xs:attribute type="xs:string" name="format"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="orderid"/>
										<xs:element name="mobile">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:integer" name="country-id"/>
														<xs:attribute type="xs:integer" name="country-code"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:integer" name="operator"/>
										<xs:element type="xs:string" name="email"/>
										<xs:element type="xs:string" name="device-id"/>
										<xs:element name="logo">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="url"/>
													<xs:element type="xs:string" name="width"/>
													<xs:element type="xs:string" name="height"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="css-url"/>
										<xs:element type="xs:string" name="accept-url"/>
										<xs:element type="xs:string" name="cancel-url"/>
										<xs:element type="xs:string" name="decline-url"/>
										<xs:element type="xs:anyURI" name="callback-url"/>
										<xs:element type="xs:string" name="icon-url"/>
										<xs:element type="xs:string" name="auth-url"/>
										<xs:element type="xs:string" name="language"/>
										<xs:element type="xs:string" name="auto-capture"/>
										<xs:element type="xs:string" name="auto-store-card"/>
										<xs:element type="xs:string" name="markup-language"/>
										<xs:element type="xs:string" name="customer-ref"/>
										<xs:element type="xs:string" name="description"/>
										<xs:element type="xs:string" name="ip"/>
										<xs:element type="xs:string" name="hmac"/>
										<xs:element type="xs:int" name="created-date"/>
										<xs:element type="xs:int" name="created-time"/>
										<xs:element ref="additional-data" minOccurs="0" maxOccurs="1" />
										<xs:element name="authorized-amount">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:short">
														<xs:attribute type="xs:integer" name="country-id"/>
														<xs:attribute type="xs:short" name="currency-id"/>
														<xs:attribute type="xs:string" name="currency"/>
														<xs:attribute type="xs:integer" name="decimals"/>
														<xs:attribute type="xs:string" name="symbol"/>
														<xs:attribute type="xs:string" name="format"/>
														<xs:attribute type="xs:string" name="alpha2code"/>
														<xs:attribute type="xs:string" name="alpha3code"/>
														<xs:attribute type="xs:short" name="code"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="card">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="amount">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:short">
																	<xs:attribute type="xs:integer" name="country-id"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:long" name="token"/>
												</xs:sequence>
												<xs:attribute type="xs:integer" name="type-id"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:int" name="id"/>
									<xs:attribute type="xs:integer" name="type"/>
									<xs:attribute type="xs:integer" name="gmid"/>
									<xs:attribute type="xs:integer" name="mode"/>
									<xs:attribute type="xs:short" name="eua-id"/>
									<xs:attribute type="xs:integer" name="attempt"/>
									<xs:attribute type="xs:integer" name="product-type"/>
									<xs:attribute type="xs:integer" name="psp-id"/>
									<xs:attribute type="xs:integer" name="card-id"/>
									<xs:attribute type="xs:integer" name="wallet-id"/>
									<xs:attribute type="xs:string" name="external-id"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="mode"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="additional-data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="param">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="transaction-type-config">
		<xs:annotation>
			<xs:documentation>Configuration for Transaction Types
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
		<xs:attribute name="name" type="xs:string" 	use="optional" />
		<xs:attribute name="enabled" type="xs:boolean" 	use="optional" />
	</xs:complexType>

	<xs:complexType name="initialize_amount">
		<xs:sequence>
			<xs:element type="xs:integer" name="amount"/>
			<xs:element type="xs:integer" name="currency_id"/>
			<xs:element type="xs:string" name="currency"/>
			<xs:element type="xs:integer" name="decimals"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="external_refs">
		<xs:sequence>
			<xs:element name="external_ref" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:integer" name="type"/>
						<xs:element type="xs:integer" name="pspid"/>
						<xs:element type="xs:integer" name="reference"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>