webroot/_test/simulators/xsd/initialize.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="initialize">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="client-config">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="username"/>
                                        <xs:element name="max-amount">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:byte">
                                                        <xs:attribute type="xs:byte" name="country-id"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="urls">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="url">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:anyURI">
                                                                    <xs:attribute type="xs:byte" name="id"/>
                                                                    <xs:attribute type="xs:byte" name="type-id"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="keyword">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:byte" name="id"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="payment-methods">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="payment-method" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:byte" name="id" use="optional"/>
                                                                    <xs:attribute type="xs:byte" name="type-id" use="optional"/>
                                                                    <xs:attribute type="xs:byte" name="state-id" use="optional"/>
                                                                    <xs:attribute type="xs:byte" name="country-id" use="optional"/>
                                                                    <xs:attribute type="xs:byte" name="psp-id" use="optional"/>
                                                                    <xs:attribute type="xs:string" name="enabled" use="optional"/>
                                                                    <xs:attribute type="xs:byte" name="payment-type" use="optional"/>
                                                                    <xs:attribute type="xs:byte" name="capture-type" use="optional"/>
                                                                    <xs:attribute type="xs:byte" name="walletid" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="store-card"/>
                                                <xs:attribute type="xs:string" name="show-all-cards"/>
                                                <xs:attribute type="xs:byte" name="max-stored-cards"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="account-configurations">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="account-config">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="name"/>
                                                                <xs:element type="xs:string" name="markup"/>
                                                                <xs:element type="xs:byte" name="businessType"/>
                                                                <xs:element name="payment-service-providers">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="payment-service-provider">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" name="name"/>
                                                                                        <xs:element type="xs:dateTime" name="modified-date"/>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute type="xs:byte" name="id"/>
                                                                                    <xs:attribute type="xs:byte" name="psp-id"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:short" name="id"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="gomobile-configuration-params"/>
                                        <xs:element type="xs:string" name="communication-channels"/>
                                        <xs:element name="callback-protocol">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="send-psp-id"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:byte" name="identification"/>
                                        <xs:element type="xs:byte" name="transaction-time-to-live"/>
                                        <xs:element type="xs:string" name="issuer-identification-number-ranges"/>
                                        <xs:element type="xs:string" name="salt"/>
                                        <xs:element type="xs:string" name="secret-key"/>
                                        <xs:element type="xs:string" name="additional-config"/>
                                        <xs:element type="xs:byte" name="decimal"/>
                                        <xs:element name="transaction-types">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="transaction-type" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:short" name="id" use="optional"/>
                                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                    <xs:attribute type="xs:string" name="enabled" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="id"/>
                                    <xs:attribute type="xs:string" name="auto-capture"/>
                                    <xs:attribute type="xs:string" name="enable-cvv"/>
                                    <xs:attribute type="xs:byte" name="country-id"/>
                                    <xs:attribute type="xs:string" name="language"/>
                                    <xs:attribute type="xs:string" name="sms-receipt"/>
                                    <xs:attribute type="xs:string" name="email-receipt"/>
                                    <xs:attribute type="xs:byte" name="mode"/>
                                    <xs:attribute type="xs:byte" name="masked-digits"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="psp-config">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="merchant-account"/>
                                        <xs:element type="xs:string" name="merchant-sub-account"/>
                                        <xs:element type="xs:string" name="username"/>
                                        <xs:element type="xs:string" name="password"/>
                                        <xs:element type="xs:string" name="messages"/>
                                        <xs:element type="xs:string" name="additional-config"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id"/>
                                    <xs:attribute type="xs:byte" name="type"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="route_configuration">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="id"/>
                                        <xs:element type="xs:byte" name="route_id"/>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="mid"/>
                                        <xs:element type="xs:string" name="username"/>
                                        <xs:element type="xs:string" name="password"/>
                                        <xs:element type="xs:string" name="route_features"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="transaction">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="captured-amount">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:byte">
                                                        <xs:attribute type="xs:byte" name="country-id"/>
                                                        <xs:attribute type="xs:string" name="currency"/>
                                                        <xs:attribute type="xs:string" name="symbol"/>
                                                        <xs:attribute type="xs:string" name="format"/>
                                                        <xs:attribute type="xs:string" name="alpha2code"/>
                                                        <xs:attribute type="xs:string" name="alpha3code"/>
                                                        <xs:attribute type="xs:short" name="code"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="foreign-exchange-info">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="service-type-id"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="initialize_amount">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:short" name="amount"/>
                                                    <xs:element type="xs:short" name="currency_id"/>
                                                    <xs:element type="xs:string" name="currency"/>
                                                    <xs:element type="xs:byte" name="decimals"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:byte" name="conversion_rate"/>
                                        <xs:element name="amount_info">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="country-id"/>
                                                    <xs:element type="xs:short" name="currency-id"/>
                                                    <xs:element type="xs:string" name="currency"/>
                                                    <xs:element type="xs:byte" name="decimals"/>
                                                    <xs:element type="xs:string" name="symbol"/>
                                                    <xs:element type="xs:string" name="format"/>
                                                    <xs:element type="xs:string" name="alpha2code"/>
                                                    <xs:element type="xs:string" name="alpha3code"/>
                                                    <xs:element type="xs:short" name="code"/>
                                                    <xs:element type="xs:short" name="amount"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="fee">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:byte">
                                                        <xs:attribute type="xs:byte" name="country-id"/>
                                                        <xs:attribute type="xs:string" name="currency"/>
                                                        <xs:attribute type="xs:string" name="symbol"/>
                                                        <xs:attribute type="xs:string" name="format"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="price"/>
                                        <xs:element name="points">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:byte">
                                                        <xs:attribute type="xs:byte" name="country-id"/>
                                                        <xs:attribute type="xs:string" name="currency"/>
                                                        <xs:attribute type="xs:string" name="symbol"/>
                                                        <xs:attribute type="xs:string" name="format"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="reward">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:byte">
                                                        <xs:attribute type="xs:byte" name="country-id"/>
                                                        <xs:attribute type="xs:string" name="currency"/>
                                                        <xs:attribute type="xs:string" name="symbol"/>
                                                        <xs:attribute type="xs:string" name="format"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="refund">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:byte">
                                                        <xs:attribute type="xs:byte" name="country-id"/>
                                                        <xs:attribute type="xs:string" name="currency"/>
                                                        <xs:attribute type="xs:string" name="symbol"/>
                                                        <xs:attribute type="xs:string" name="format"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="orderid"/>
                                        <xs:element name="mobile">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:byte" name="country-id"/>
                                                        <xs:attribute type="xs:byte" name="country-code"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:byte" name="operator"/>
                                        <xs:element type="xs:string" name="email"/>
                                        <xs:element type="xs:string" name="device-id"/>
                                        <xs:element name="logo">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="url"/>
                                                    <xs:element type="xs:string" name="width"/>
                                                    <xs:element type="xs:string" name="height"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="css-url"/>
                                        <xs:element type="xs:string" name="accept-url"/>
                                        <xs:element type="xs:string" name="cancel-url"/>
                                        <xs:element type="xs:string" name="decline-url"/>
                                        <xs:element type="xs:string" name="callback-url"/>
                                        <xs:element type="xs:string" name="icon-url"/>
                                        <xs:element type="xs:string" name="auth-url"/>
                                        <xs:element type="xs:string" name="language"/>
                                        <xs:element type="xs:string" name="auto-capture"/>
                                        <xs:element type="xs:string" name="auto-store-card"/>
                                        <xs:element type="xs:string" name="markup-language"/>
                                        <xs:element type="xs:string" name="customer-ref"/>
                                        <xs:element type="xs:string" name="description"/>
                                        <xs:element type="xs:string" name="ip"/>
                                        <xs:element type="xs:string" name="hmac"/>
                                        <xs:element type="xs:int" name="created-date"/>
                                        <xs:element type="xs:int" name="created-time"/>
                                        <xs:element name="authorized-amount">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:short">
                                                        <xs:attribute type="xs:byte" name="country-id"/>
                                                        <xs:attribute type="xs:short" name="currency-id"/>
                                                        <xs:attribute type="xs:string" name="currency"/>
                                                        <xs:attribute type="xs:byte" name="decimals"/>
                                                        <xs:attribute type="xs:string" name="symbol"/>
                                                        <xs:attribute type="xs:string" name="format"/>
                                                        <xs:attribute type="xs:string" name="alpha2code"/>
                                                        <xs:attribute type="xs:string" name="alpha3code"/>
                                                        <xs:attribute type="xs:short" name="code"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:int" name="id"/>
                                    <xs:attribute type="xs:byte" name="type"/>
                                    <xs:attribute type="xs:byte" name="gmid"/>
                                    <xs:attribute type="xs:byte" name="mode"/>
                                    <xs:attribute type="xs:short" name="eua-id"/>
                                    <xs:attribute type="xs:byte" name="attempt"/>
                                    <xs:attribute type="xs:byte" name="psp-id"/>
                                    <xs:attribute type="xs:byte" name="card-id"/>
                                    <xs:attribute type="xs:byte" name="wallet-id"/>
                                    <xs:attribute type="xs:byte" name="product-type"/>
                                    <xs:attribute type="xs:string" name="external-id"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:byte" name="order-attempt"/>
                            <xs:element name="account">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="first-name"/>
                                        <xs:element type="xs:string" name="last-name"/>
                                        <xs:element name="mobile">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:int">
                                                        <xs:attribute type="xs:byte" name="country-id"/>
                                                        <xs:attribute type="xs:string" name="verified"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="email"/>
                                        <xs:element name="password">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="mask"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="balance">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:byte">
                                                        <xs:attribute type="xs:byte" name="country-id"/>
                                                        <xs:attribute type="xs:string" name="currency"/>
                                                        <xs:attribute type="xs:string" name="symbol"/>
                                                        <xs:attribute type="xs:string" name="format"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="funds"/>
                                        <xs:element name="points">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:byte">
                                                        <xs:attribute type="xs:byte" name="country-id"/>
                                                        <xs:attribute type="xs:string" name="currency"/>
                                                        <xs:attribute type="xs:string" name="symbol"/>
                                                        <xs:attribute type="xs:string" name="format"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="clients">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="client">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:short" name="id"/>
                                                                    <xs:attribute type="xs:byte" name="store-card"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="created">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:int" name="timestamp"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="logo-width"/>
                                        <xs:element type="xs:string" name="logo-height"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="id"/>
                                    <xs:attribute type="xs:byte" name="country-id"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="client-id"/>
                        <xs:attribute type="xs:short" name="account"/>
                        <xs:attribute type="xs:string" name="store-card"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>