webroot/_test/simulators/xsd/mvault-save-card.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="save-card-request">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:integer" name="client-id" maxOccurs="1" />
							<xs:element type="xs:string" name="external-id" maxOccurs="1" />
							<xs:element type="xs:string" name="card-holder-name" minOccurs="0"/>
							<xs:element type="xs:string" name="card-pan" maxOccurs="1"/>
							<xs:element type="xs:string" name="expiry" maxOccurs="1"/>
							<xs:element type="xs:string" name="valid_from" minOccurs="0"/>
							<xs:element type="xs:string" name="enabled" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>