webroot/_test/simulators/xsd/mvault-get-card-details.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="get-card-details-request">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:integer" name="client-id" maxOccurs="1" />
							<xs:element type="xs:string" name="token" maxOccurs="1" />
							<xs:element type="xs:string" name="external-id" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>